*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.footer-size{
    margin-top:119px;
    padding: 60px 0;
    background-color: black;
    color:white;
}

@media screen and (max-width:600px) {
    .footer-size{
        margin-top:169px;
    }
}