* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin-top: 6%;
    margin-left: 41%;
    border: 1px solid grey;
    border-radius: 3%;
    box-shadow:
        inset 0 0 25px #fff,
        /* inner white */
        inset 10px 0 40px #f0f,
        /* inner left magenta short */
        inset -10px 0 40px #0ff,
        /* inner right cyan short */
        inset 10px 0 150px #f0f,
        /* inner left magenta broad */
        inset -10px 0 150px #0ff,
        /* inner right cyan broad */
        0 0 25px #fff,
        /* outer white */
        -5px 0 40px #f0f,
        /* outer left magenta */
        5px 0 40px #0ff;
    /* outer right cyan */
}

label {
    font-size: 16px;
}

table,
tr,
td {
    /*border:1px solid grey;*/
    /*border-collapse: collapse;*/
    padding: 4px;
}

caption {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    height: 39px;
    font-family: roboto;
    font-size: 16px;

}

button,
input[type="button"] {
    height: 33px;
    padding: 0 6px;
    font-size: 16px;
    font-family: roboto;
    margin-left: 15px;
    width: 115px;
}