
<div class="para-topone">
  <span class="cg">Code Gravity</span> offers exclusive courses for both newly admitted and existing students, 
  to help them build successful careers in the information technology industry. Our expert instructors provide 
  hands-on training to all candidates, regardless of their prior experience. We strive to push our candidates 
  to new levels and surpass the competition. Our online training allows for flexible and personalized learning 
  at each student's own pace. We are committed to providing the highest quality education and training available. 
  We offer real-world examples and interactive lectures that enhance the learning experience. Our personalized 
  attention and support ensures that each student is well-prepared to succeed in the tech industry. Join us today
   and experience the Code Gravity difference.
   <div class="img-val">
    <div class="img-container">
      <img src="./assets/computerOne.jpg">
      <div class="tit">Code Gravity Pic One</div>
    </div>
    <div class="img-container">
      <img src="./assets/computerOne.jpg">
      <div class="tit">Code Gravity Pic One</div>
    </div>
    <div class="img-container">
      <img src="./assets/computerOne.jpg">
      <div class="tit">Code Gravity Pic One</div>
    </div>
    <div class="img-container">
      <img src="./assets/computerOne.jpg">
      <div class="tit">Code Gravity Pic One</div>
    </div>
    <div class="img-container">
      <img src="./assets/computerOne.jpg">
      <div class="tit">Code Gravity Pic One</div>
    </div>
    <div class="img-container">
      <img src="./assets/computerOne.jpg">
      <div class="tit">Code Gravity Pic One</div>
    </div>
   </div>

</div>

 

<div  class="small-cont">
  <div class="box-cont">
    <caption>Info Of Services</caption><br>
  Moreover, Code Gravity also offers consulting services to help businesses implement cutting-edge 
  technologies and stay ahead of the competition. Their team of experts has extensive experience in 
  software development, project management, and technology consulting, providing businesses with customized
   solutions that meet their unique needs.
  </div>
  <div class="box-cont">
    <caption>Why To Choose Us?</caption><br>
    Moreover, Code Gravity also offers consulting services to help businesses implement cutting-edge 
    technologies and stay ahead of the competition. Their team of experts has extensive experience in 
    software development, project management, and technology consulting, providing businesses with customized
     solutions that meet their unique needs.
    </div>
    <div class="box-cont">
      <caption>Any In But Best Out.</caption><br>
      Moreover, Code Gravity also offers consulting services to help businesses implement cutting-edge 
      technologies and stay ahead of the competition. Their team of experts has extensive experience in 
      software development, project management, and technology consulting, providing businesses with customized
       solutions that meet their unique needs.
      </div>
    <div class="box-cont">
        <caption>Who can choose?</caption><br>
        Moreover, Code Gravity also offers consulting services to help businesses implement cutting-edge 
        technologies and stay ahead of the competition. Their team of experts has extensive experience in 
        software development, project management, and technology consulting, providing businesses with customized
         solutions that meet their unique needs.
    </div>
</div>
<!--
<div id="image-container">
   
  <img class="imageSize" id="moving-image1" src="./assets/Java.png" >
  <img id="moving-image2" src="./assets/spring.png" height="200px" width="200px">
  <img id="moving-image4" src="./assets/git.png" height="200px" width="200px">
  <img id="moving-image5" src="./assets/aws.png" height="200px" width="200px">
  <img id="moving-image3" src="./assets/angular.png" height="200px" width="200px">
</div>
-->
