
<div class="para-topone">
  <span class="cg">Code Gravity</span> is Providing Exclusive Courses for the newly addmitted
  candidate as well as those who already joined to our institue to 
  make better carrer in Inforamation Technology Industry.
  Our Expert provide hands on services and Training to all of the 
  candidate who are fresher or have knowledge about programming.
  We provide our best to all of our candidate and push them to different
  level than any other provider in market. 
  The Training is held online so candidate can study and practice based on 
  there prior.
</div>

  <div class="img-val">
    <img src="./assets/computerOne.jpg">
</div>

<div class="para-toptwo">
    <span class="cg">Code Gravity</span> is Providing Exclusive Courses for the newly addmitted
    candidate as well as those who already joined to our institue to 
    make better carrer in Inforamation Technology Industry.
    Our Expert provide hands on services and Training to all of the 
    candidate who are fresher or have knowledge about programming.
    We provide our best to all of our candidate and push them to different
    level than any other provider in market. 
    The Training is held online so candidate can study and practice based on 
    there prior.
  </div>