<nav>
  
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li class ="dropmenu">
        <a href="#">Courses</a>
        <ul class="listmenu">
          <li class="design">Full Stack Java</li>
          <hr/>
          <li class="design">DevOps</li>
          <hr/>
          <li class="design">IAM Training</li>
          <hr/>
          <li class="design">Python Machine Learning</li>
        </ul>
      </li>
    
      <li> <a routerLink="/loginpage" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/indexbody" routerLinkActive="active">Registration</a></li>
    </ul>
    <pre class="logo">LearnCode
<span class="logo-down">Inst. You Trust.</span></pre>
  </nav>
  