header{
  padding: 6px;
  background-color: #413d3d;
 
}
img{
  height:auto;
  width: 90px;
}

nav {
    background-color: #333;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo{
    font-size: 23px;
    font-weight: bold;
    color:wheat;
    display: block;
    margin-right:60px;
  }
  .logo-down{
     font-size:14px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
     color:rgb(216, 178, 107);  
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  nav li {
    margin: 0 20px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    padding: 15px 3px;
    background-color: grey;
    color: #ffa500;
    cursor: pointer;
  }

 

  nav .listmenu {
    display:none;
    top: 100%;
    left: 0;
    z-index: 1;
   /*background-color:#3332;*/
    background-color: rgb(36, 39, 39);
    border: 6px solid #ccc;
    padding: 10px;
    position: absolute;
    margin-left: 237px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    height: 160px;
    font-family: roboto;
  }
  
  nav .listmenu li {
    display: block;
    margin: 5px 0;
    margin-top: 10px;
    letter-spacing: 1px;
  }

  nav li.dropmenu:hover .listmenu {
    display: block;
    
  }
  nav li.dropmenu:hover .listmenu > .design:hover{
    background-color: #e2c3c3;
    padding:1px 5px 5px 5px;
    color:black;
    font-weight: bold;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  


@media screen and (max-width:600px) {

  nav {
    
    height: 80px;
    display: block;
    padding: 5px;
    
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }
  nav a:hover {
    padding:1px 1px 3px 1px;
    background-color: grey;
    color: #ffa500;
    cursor: pointer;
  }

  .logo{
    font-size: 29px;
    font-weight: bold;
    color:wheat;
    font-family: cursive;
    margin-left:180px;
    margin-top: -93px;
    
  }
  .logo-down{
    font-size: 21px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     color:rgb(216, 178, 107);  
  }
  img{
    width: 100%;
    height: 130px;
  }
  .logo{
    font-size: 26px;
    align-items: center;
    margin-left:270px;
  }
  .logo-down{
     font-size:22px; 
     align-items: center;
     
  }


  nav .listmenu {
    display:none;
    top: 100%;
    left: 0;
    z-index: 1;
   /*background-color:#3332;*/
    background-color: rgb(36, 39, 39);
    border: 3px solid #ccc;
    padding: 5px;
    position: absolute;
    margin-left:0;
    cursor: pointer;
    color: white;
    font-size: 12px;
    height: 130px;
    font-family: roboto;
  }
  
  nav .listmenu li {
    display: block;
    margin: 5px 0;
    margin-top: 10px;
    letter-spacing: 1px;
  }

  nav li.dropmenu:hover .listmenu {
    display: block;
    
  }
  nav li.dropmenu:hover .listmenu > .design:hover{
    background-color: #e2c3c3;
    padding:1px 3px 3px 3px;
    color:black;
    font-weight: bold;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
 
}
  