
<form (ngSubmit)="onSubmit()" autocomplete="off">
    <table>
      <caption class="check">Login Form</caption>
     
      <tr>
        <td><label>Email</label></td>
        <td><input type="email" id="email" name="email" [(ngModel)]="email"  autocomplete="off"></td><!--if you dont put 
        autocomplete here also than some browser ignore autocomplete decalre in form and show the suggestion everytime-->
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td><input type="password" id="pass" name="pass" [(ngModel)]="password" autocomplete="off"></td><!--if you dont put 
            autocomplete here also than some browser ignore autocomplete decalre in form and show the suggestion everytime-->
      </tr>
      <tr>
        <td><label>Token Number</label></td>
        <td><input type="text" id="token_num" name="token_num" [(ngModel)]="token_num" autocomplete="off"></td>
      </tr>
      
      <tr>
        <td colspan="2">
          <button type="submit" id="login" name="login">Login</button>
          <!--<input type="button" id="cancel" name="cancel" value="Cancel" (click)="onCancel()">-->
        </td>
      </tr>
      <tr>
        <td colspan="2" class="manageLink">
           <a  routerLink="/indexbody" routerLinkActive="active">Register Here</a>
           &nbsp;&nbsp;&nbsp;
           <a href="#" target="_blank">Forget Password</a>
        </td>
      </tr>
    </table>
  </form>
  